@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
    
  /* colours */
  --color0: #fff;
  --color1: #00D000;
  --color4: #067D07;
  --color6: #7C0001;

  /* font size */
  --fontSize-1: 4.6rem;
  --fontSize-2: 4.1rem;
  --fontSize-3: 4rem;
  --fontSize-4: 3rem;
  --fontSize-5: 2.4rem;
  --fontSize-6: 1.8rem;
  --fontSize-7: 2rem;
  --fontSize-8: 1.6rem;
  --fontSize-9: 1rem;
  --fontSize-10: .90rem;

  --carousel-height: 300px;
  --navbar-height: 3.75rem;
}

body, html {
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 200;
  font-style: normal;
  overflow-x: hidden !important;
}


.head{
    background: var(--color1);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 40vh;
      padding: 50px 0px;
  }
  .head .header-title,
  .head .contact-link{
    text-align: center;
  }
  .head .header-title{
    margin-bottom: 30px;
    color: var(--color0);
    text-transform: uppercase;
  }
  .head .contact-link p{
    font-style: italic;
    font-weight: bold;
    color: var(--color0);
  }
  .head .contact-link p a{
    color: var(--color0);
    font-weight: bold;
    text-decoration: none;
  }
  .head .contact-link p a:hover{
    color: var(--color6);
  }
  
  .course-title{
    text-align: center;
    font-size: 2.1rem;
    margin-block: 3rem;
  }
  @media screen and (max-width: 860px){
    .course-title{
      font-size: 1.8rem;
    }
  }
  


main{
    margin-block: 5rem;
}
  .information{
    text-align: center;
    font-size: 1.25rem;
    max-width: 500px;
    margin: auto;
    line-height: 1.4;
    margin-bottom: 5rem;
  }


 .contact_info_box{
    display: flex;
    align-items: center;
}

.contact-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 140px;
    background-color: var(--color4);
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    font-size: 32px;
    color: var(--color0);
    transition: .3s linear;
}

.card:hover .icon{
    transform: scale(4);
    opacity: 0;
}

.card-content h3,
.card-content span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
}

.card-content h3{
    top: 20px;
    text-transform: uppercase;
    color: var(--color0);
}

.card-content span{
    bottom: 20px;
    color: #fff;
    font-weight: 500;
}

.card:hover h3{
    opacity: 1;
    top: 46px;
    transition: .3s linear .3s;
}

.card:hover span{
    opacity: 1;
    bottom: 46px;
    transition: .3s linear .3s;
}


@media screen and (max-width:900px){
    .card{
        flex: 100%;
        max-width: 500px;
    }
}